---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Isaac Spencer">
  <article class="prose lg:prose-xl">
    <h1>Isaac Spencer</h1>
    <h2>Aerospace Engineer & Software Developer</h2>
  </article>
</BaseLayout>
