---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="p-4 flex flex-row dark:text-white border-inherit divide-x">
  <HeaderLink to="/">Home</HeaderLink>
  <HeaderLink to="/about-me">About Me</HeaderLink>
  <HeaderLink to="/calculators">Calculators</HeaderLink>
</nav>
